:root {
  font-size: 10px;
}


  @font-face {
    font-family: 'Lato-Black';
    src: local('Lato-Black'), url(../fonts/Lato-Black.ttf) format('opentype');
  }
  @font-face {
    font-family: 'Lato-Light';
    src: local('Lato-Light'), url(../fonts/Lato-Light.ttf) format('opentype');
  }
  @font-face {
    font-family: 'Lato-Medium';
    src: local('Lato-Medium'), url(../fonts/Lato-Medium.ttf) format('opentype');
  }
  @font-face {
    font-family: 'Lato-Italic';
    src: local('Lato-Italic'), url(../fonts/Lato-Italic.ttf) format('opentype');
  }

  * {
    font-family: Lato-Black, Arial, serif;
    font-weight: black;
  }

body {
  margin: 0;
  // background: #8DCEE7;
}

//! NAVBAR
.navbar {
  // border-bottom: 2px solid black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background: #005A8A;
  .navbar-item {
    text-decoration: none; 
    font-size: 2rem;
    padding: 2.5rem;
    color: white;
  }
  .navbar-item:hover {
    background-color: #6B98CC;
    padding: 2.5rem;
    font-size: 2rem;
    // opacity: 20%;
    color: white;
  } 
  a {
    color: black;
  }

  }

  .nav-logo {
    width: 25rem;
  }

  .nav-logo-wrap {
    margin: 0 auto 0 0;
    color: inherit;
    text-decoration: none;
    margin-bottom: 1rem;
  }

  .navbar-wrap {
    display: flex;  
    align-items: center;
  }

  .main-nav-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.6rem;
  }


//FOOTER
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #005A8A;
  color: #ebe7e7;
}  

.footer-wrap {
  margin-bottom: 1rem;
}

.footer-item {
  padding-right: 1.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: #ebe7e7;
}

.copy {
  font-size: 1.3rem;
}


//HOME
.home-header-section {
  background-image: url("../assets/Luminance-platform-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9.8rem;
  // padding: 15rem;
  display: flex;
  flex-direction: row-reverse;
}

.home-text-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 65rem;
}
.home-text-section-1-h1 {
  font-size: 4rem;
}
.home-text-section-1-h3 {
  font-size: 2rem;
  color: #206CB3;
}

.home-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  width: 80%;
  margin: 0 auto;
}

.home-text-section-2-h1-award {
  font-size: 3rem;
  color: #206CB3;
  margin-bottom: 0;
}
.home-text-section-2-h2-award {
  font-size: 1.8rem;
  color: #206CB3;
  margin: 0;
}

.home-section-2-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  padding-bottom: 2rem;
  border-top: 2px solid #005A8A;
}

.home-section-3-div-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-case-icons-wrap {
  display: flex;
  display: flex;
  margin: 20rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.home-case-icon-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30rem;
  margin: 1rem;
  height: 15rem;
  width: 15rem;
  justify-content: center;
  background: white;
}

.home-case-icons {
  width: 50%;
}

.home-case-icons-names-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-view-more-cases-button {
  background-color: #206CB3;
  color: white;
  border: none;
  padding: 0.4rem 1.6rem;
  font-size: inherit;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.5rem;
  font-size: 1.4rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition-duration: 0.4s;
}
.home-view-more-cases-button:hover {
  background-color: #8DCEE7; 
  color: white;
}

.home-learn-about-diligence-button {
  background-color: #206CB3;
  color: white;
  border: none;
  padding: 0.4rem 1.6rem;
  font-size: inherit;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.5rem;
  font-size: 1.4rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition-duration: 0.4s;
}
.home-learn-about-diligence-button:hover {
  background-color: #8DCEE7; 
  color: white;
}

.home-case-icon-names {
  font-size: 1.3rem;
}

.home-founded-by-text {
  width: 90%;
  font-size: 1.8rem;
  font-family: 'Lato-Light';
}

.home-founded-by-text-2 {
  width: 80%;
  font-size: 1.6rem;
  color: #206CB3;
    margin-top: 1rem;
}

.home-h4 {
  font-size: 1.5rem;
  font-family: 'Lato-Medium';
}

.home-section-3-h1-bottom {
  font-size: 3rem;
  color: #206CB3;
  margin-bottom: 0;
}

.home-section-3-h3-bottom {
  font-size: 1.8rem;
  font-family: 'Lato-Light';
  margin-bottom: 0;
}

.home-blue-span {
  color: #206CB3
}
.home-grey-span {
  color: #B2B2B2;
  font-family: 'Lato-Light';
  font-size: 2rem;
}

//EVENTS
.events-page-wrap {
  display: flex;
  flex-direction: column;
  background: aliceblue;
}

.events-header-h1 {
  color: #206CB3;
  font-size: 3rem;
  border-bottom: 2px solid;
}

  .events-headr-p-wrap {
    // margin-bottom: 5rem;
  }

  .events-header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .events-description-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  } 

  .events-description-text {
    font-family: 'Lato-Medium';
    font-size: 1.6rem;
  }

  .upcoming-events-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    .upcoming-event-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      width: 25rem;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      padding: 1.5rem;
      margin: 2rem;
      background: white;
      text-align: CENTER;
    }
    .event-image {
      width: 25rem;
    }
    .event-header {
      font-size: 1.8rem;
      width: 23rem;
      color: #206CB3; 
    }
    .request-invitation-button {
      background-color: #206CB3;
      color: white;
      border: none;
      padding: .4rem 1.6rem;
      font-size: inherit;
      box-sizing: border-box;
      cursor: pointer;
      transition: .2s;
      padding: 1.5rem;
      font-size: 1.4rem;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      transition-duration: 0.4s;
    }
    .request-invitation-button:hover {
      background-color: #8DCEE7; 
      color: white;
    }

    .event-date {
    font-family: 'Lato-Light';
    font-size: 1.5rem;
    margin: 0;
    }

    .webinar {
      font-size: 1.5rem;
      font-family: 'Lato-Medium';
      margin: 1.2rem;
    }

  }




//PRODUCTS

.products-section-1 {
  border-bottom: 3px solid #005A8A;
}

.products-header-section-1-wrap {
  display: flex;
  align-items: center;
}

.products-diligience-header-image-wrap {
  display: flex;
  align-self: start;
}

.products-diligience-header-image {
  width: 70rem;
  height: 60rem;
}

.products-diligience-header-wrap {
  display: flex;
  align-self: start;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  margin-bottom: 0;
}

.products-diligience-header {
  width: 25rem;
  margin-bottom: 3rem;
}

.products-section-1-paragraph-1 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: 'Lato-Medium';
}
.products-section-1-paragraph-2 {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  color: #206CB3;
  font-weight: bold;
  font-family: "Lato-Black";
}
.products-section-1-paragraph-3 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: "Lato-Medium";
}
.products-section-1-paragraph-4 {
  margin-bottom: 3rem;
}

.products-explore-discovery-button {
  background-color: #206CB3;
  color: white;
  border: none;
  padding: 0.4rem 1.6rem;
  font-size: inherit;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.5rem;
  font-size: 1.4rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition-duration: 0.4s;
}
.products-explore-discovery-button:hover {
  background-color: #8DCEE7; 
  color: white;
}

.products-section-2 {
  // margin-top: 3rem;
  // margin-bottom: 3rem;
  // background: aliceblue;
  border-bottom: 3px solid #005A8A;
  border-left: 3px solid #005A8A;
}

.products-section-2-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 10rem;
  // margin-bottom: 0;
  // margin-top: 0;
}

.products-diligience-section-2-text-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5rem;
  padding-right: 10rem;
  padding-left: 5rem;
  background: aliceblue;
  border-left: 3px solid #005A8A;
  border-right: 3px solid #005A8A;
}

.products-diligience-quote-image {
  width: 50rem;
  margin: 2rem;
  margin-top: 3.5rem;
}

.products-section-2-quote-image-wrap {
  padding-left: 15rem;
  padding-right: 0.45rem;
}

.products-diligience-section-2-line-1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #206CB3;
}
.products-diligience-section-2-line-2 {
  font-family: 'Lato-Italic';
  color: #206CB3;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.products-diligience-section-2-line-3 {
  font-family: 'Lato-Medium';
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.products-diligience-section-2-line-4 {
  font-family: 'Lato-Italic';
  color: #206CB3;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.products-diligience-section-2-line-5 {
  font-family: 'Lato-Medium';
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.products-diligience-section-2-line-6 {
  font-family: 'Lato-Italic';
  color: #206CB3;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.products-diligience-section-2-line-7 {
  font-family: 'Lato-Medium';
  font-size: 1.8rem;
  margin-bottom: 3rem;
}


.products-section-3 {
  display: flex;
  // margin: 10rem;
  // margin-top: 0;
  // margin-bottom: 0;
  align-items: center;
}

.products-section-3-text-wrap {
  width: 45%;
}

.products-section-3-div-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-section-3-video-wrap {
  margin-right: 5rem;
  padding: 5rem;
  background: aliceblue;
}

.prdoucts-section3-key-benefits-h1 {
  font-size: 2.5rem;
  color: #206CB3;
}

.prdoucts-section3-key-benefits-header {
  font-family: 'Lato-Medium';
  font-size: 2rem;
  font-weight: 500;
}

.prdoucts-section3-key-benefits-h3 {
  font-family: 'Lato-Medium';
  font-size: 1.5rem;
  font-weight: 500;
}

.prdoucts-section3-key-benefits-h4 {
  font-family: 'Lato-Italic';
  font-size: 1.5rem;
  font-weight: 500;
}

.products-section-4 {
  display: flex;
  // margin: 10rem;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  border-top: 3px solid #005A8A;
  background-repeat: no-repeat;
  background-size: cover;
}

.products-section-4-div-wrap {
  display: flex;
  align-items: center;
}

.products-section-4-text-wrap {
  width: 50%;
  margin: 3rem;
}

.products-section-4-links-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.products-section-4-link {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-family: 'Lato-Medium'
}

.products-section-4-link:hover {
  background-color: #6B98CC;
} 

.products-section-4-request-button {
  background-color: #206CB3;
  color: white;
  border: none;
  padding: 0.4rem 1.6rem;
  font-size: inherit;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.5rem;
  font-size: 1.4rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition-duration: 0.4s;
}
.products-section-4-request-button:hover {
  background-color: #8DCEE7; 
  color: white;
}

.products-section-4-download-button {
  background-color: #206CB3;
  color: white;
  border: none;
  padding: 0.4rem 1.6rem;
  font-size: inherit;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.5rem;
  font-size: 1.4rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition-duration: 0.4s;
}
.products-section-4-download-button:hover {
  background-color: #8DCEE7; 
  color: white;
}

.prdoucts-section-4-h1-diligence {
  font-size: 2.5rem;
  color: #206CB3;
  margin-bottom: 0;
  font-weight: 500;
}
.prdoucts-section-4-h1 {
  font-size: 2.5rem;
  color: #206CB3;
}
.prdoucts-section-4-h2 {
  margin-bottom: 2rem;
  font-family: 'Lato-Medium';
  margin-top: 3rem;
}
.prdoucts-section-4-h2-diligence {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: 'Lato-Medium';
  font-size: 2rem;
  font-weight: 500;
}

.blue-span {
  color: #206CB3;
  font-family: 'Lato-Medium';
}

.products-section-4-video-wrap {
  padding: 3rem;
  background: aliceblue;
  width: 50%;
}

.here {
  color: black;
}

.products-section-5 {
  display: flex;
  justify-content: center;
  border-top: 3px solid #005A8A;
  background: aliceblue;
}

.products-section-5-div-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.products-section-5-icon-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.products-section-5-icons-wrap {
  display: flex;
}

.products-section-5-icon-wrap {
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20rem;
  background: white;
  width: 16rem;
  height: 16rem;
  align-items: center;
}

.products-section-5-icon {
  width: 12rem;
  height: 12rem;
}

.products-section-5-icon-h1 {
  margin: 1.5rem;
}

.products-section-5-icon-h1-bottom {
  font-family: 'Lato-Medium';
  font-size: 1.8rem;
}

.products-section-5-h1 {
  font-size: 3rem;
  color: #206CB3;
  margin-bottom: 0;
}